.container {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 100px 30px;
    margin: auto;
}

.logo {
    text-decoration: none;
    font-size: 80px;
}

header nav ul {
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 70px;
    margin-top: 50px;
    background: #35444F;
}

header nav ul li {
    display: flex;
    border-left: 1px solid #FFFFFF;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 28px;
    padding: 0px 32px 0px 32px;
    list-style: none;
}

header nav ul li a:hover {
    background: #222F3A;
}

.main {
    display: flex;
   
}

.left-menu-border {
    display: inline-block;
    width: 344px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    text-decoration: none;
    color: black;
    font-size: 5rem;
    margin-bottom: 2.5rem;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.menu-tab-1 {
    margin: 25px;
    text-decoration: none;
    left: 44px;
    top: 26px;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: #485863;
}

.menu-tab-1 {
    padding: 1.5rem 0 1.5rem 2.8rem;
    transition: padding-left 0.3s;
    font-size: 1.7rem;
    color: #485863;
}

.menu-tab-1:hover {
    color: black;
    background-color: #DBDBDB;
    padding-left: 4rem;
    transition: padding-left 0.3s;
}

.container-2 {
    display: flex;
    justify-content: center;
    padding: 75px 0;
    border: 1px solid black;
    overflow: hidden;
}

.ramda {
    transition: transform 0.3s;
}

.ramda:hover {
    transform: scale(1.15);
    transition: transform 0.3s;
}

.text {
    font-size: 18px;
    margin-top: 25x;
}

.container-3 {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2.5rem;
    background-color: #63696E7A;
    text-decoration: none;
}

.footer-list {
    display: flex;
    text-decoration: none;
}

.footer-list li {
    font-size: 1.75rem;
    margin-right: 1.5rem;
    text-decoration: none;
}

.footer-list li:hover {
    color: #3181A6;
    text-decoration: underline 1px #3181A6;
    text-underline-offset: 0.6rem;
    text-decoration: none;
}

.copyright {
    margin: auto 0;
    font-size: 1.5rem;
}

